body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form-control {
  width: 500px;
  text-align: center;
  margin: auto;
  border: 1px solid black;
  position: relative;
  top: 75px
}

#login-form {
  text-align: center;
  justify-content: center;
}

#login-button {
  position: relative;
  top: 100px;
  margin-right: 10px;
  background-color: dodgerblue;
  color: white
}

#logout-button {
  position:absolute; 
  top:0; 
  right:0;
  border-radius: 5px;
}

#signup-form {
  text-align: center;
  justify-content: center;
}

#signup-button {
  position: relative;
  top: 100px;
  background-color: dodgerblue;
  color: white
}

#review-table {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  border-spacing: 25px 10px
}

#review-description {
  border: 2px solid black;
}

#review-input{
  display: block;
  width: 50%;
  resize: both;
  min-height: 100px;
  line-height: 20px;
  margin-left: auto;
  margin-right: auto;
}

#edit-review {
  margin-top: 125px;
}

.edit-button {
  margin-top: 10px;
  margin-right: 10px;
}

#click-for-reviews {
  margin-bottom: 10px;
}

#gym-card {
  border: 1px solid black;
  border-spacing: 25px 10px;
}

#gym-image {
  margin-top: 10px;
}

#login-gymview {
  height: 100px;
  width: 950px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#login-message {
  text-align: center;
}